
:root {
    --col1: #F8B195;
    --col2: #355C7D;
    --col3: #264159;
}

#content {
    width: 90%;
    max-width: 975px;
    background-color: white;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.4);
    border-radius: 10px;
    height: auto;
    padding: 35px;
}

body {
    margin: 0;
    margin-top: 25px;
    margin-bottom: 25px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--col1);
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.drop-down {
    display: none;
    flex-direction: column;
    width: 100%;
    background-color: var(--col2);
    padding: 0;
    margin: 0;
    /* padding: 5px;
    color: white;
    border: none;
    font-size: 20px;
    text-align: center;
    margin-top: 10px;
    letter-spacing: 1px; */
}

button {
    width: 100%;
    border: none;
    padding: 5px;
    background-color: var(--col2);
    color: white;
    font-size: 20px;
}

button:hover {
    background-color: var(--col3);
}

header h1 {
    text-align: center;
    line-height: 0;
}

header h2 {
    line-height: 0;
    font-size: 15px;
}

#img-block {
    background-color: none;
    border-radius: 100px;
    width: 125px;
    height: 125px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

#page-content {
    /* background-color: #F8B195; */
    margin-top: 35px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 35px;
}

#page-content h1 {
    text-align: center;
    margin: 0;
}

#page-content h2 {
    text-align: center;
    margin: 0;
}

#section-img-block {
    background-color: black;
    width: 100%;
    aspect-ratio: 3 / 2;
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* #section-img-block img {
    width: 100%;
} */

#page-content p {
    font-size: 20px;
    width: 80%;
}

#page-content h3 {
    width: 80%;
    text-align: center;
    line-height: 35px;
}

::-webkit-scrollbar {
    width: 10px; /* Width of the scrollbar */
}

::-webkit-scrollbar-thumb {
    background-color: var(--col2); /* Color of the scroll thumb */
    border-radius: 5px; /* Rounded corners */
}

::-webkit-scrollbar-track {
    background-color: white; /* Background color of the scrollbar track */
}

#open-submenu-button {
    display: none;
    align-items: center;
    justify-content: center;
}

/* #close-submenu-button {
    display: none;
} */

#subsection-img-block {
    background-color: black;
    width: 100%;
    /* aspect-ratio: 3 / 2; */
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

#subpage-content {
    /* background-color: #F8B195; */
    margin-top: 35px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 35px;
}
