
:root {
    --col1: #F8B195;
    --col2: #355C7D;
    --col3: #264159;
}

#content {
    /* width: 90%; */
    /* max-width: 975px; */
    background-color: white;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.4);
    border-radius: 10px;
    height: auto;
    padding: 35px;
    width: 1200px;
}

body {
    margin: 0;
    margin-top: 25px;
    margin-bottom: 25px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--col1);
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-x: hidden;
}

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

header h1 {
    text-align: center;
    line-height: 0;
}

header h2 {
    line-height: 0;
    font-size: 15px;
}

#img-block {
    background-color: none;
    border-radius: 100px;
    width: 125px;
    height: 125px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    user-select: none;
}

nav {
    background-color: var(--col2);
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 10px;
    user-select: none;
}

a {
    padding: 15px;
    text-align: center;
    line-height: 25px;
}

a:hover {
    cursor: pointer;
    background-color: var(--col3);
}

::-webkit-scrollbar {
    width: 10px; /* Width of the scrollbar */
}

::-webkit-scrollbar-thumb {
    background-color: var(--col2); /* Color of the scroll thumb */
    border-radius: 5px; /* Rounded corners */
}

::-webkit-scrollbar-track {
    background-color: white; /* Background color of the scrollbar track */
}

.custom-dropdown {
    position: relative;
}

.selected-option {
    cursor: pointer;
    padding: 15px;
    text-align: center;
    line-height: 25px;
}

.selected-option:hover {
    background-color: var(--col3);
}

.options {
    display: none;
    position: absolute;
    width: 100%;
    background-color: var(--col2);
}

.option {
    padding: 10px;
    cursor: pointer;
}

.custom-dropdown:hover .options {
    display: block;
}

.option:hover {
    background-color: var(--col3);
}

#tab-header {
    text-align: center;
    line-height: 0;
}

.quote {
    font-size: 25px;
    width: 65%;
    line-height: 50px;
    text-align: center;
    margin: 0;
}

#img-container {
    width: 65%;
    overflow: hidden;
}

main {
    margin-top: 25px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
}

.tab-image {
    width: 100%;
}

embed {
    height: 750px;
}
