
body {
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
}

main {
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 100px;
}

.decode-out {
    width: 50vw;
    text-align: center;
    background-color: aquamarine;
}
